.venv/
prank_calculator_and_development_experience/window.py
prank_calculator_and_development_experience/what_is_not_needed.py
prank_calculator_and_development_experience/spreadsheet.py
prank_calculator_and_development_experience/oh.py
prank_calculator_and_development_experience/oc.py
prank_calculator_and_development_experience/logs.py
prank_calculator_and_development_experience/geas_with_gemini.py
password_cracker/test(1).py
password_cracker/test(2).py
New Year's Python/test(1).py
google/new.txt
google/test(1).py
google/test(2).py